@{
    ViewData["Title"] = "Home Page";
}

@* @model string *@

<div class="text-center">
    <h1 class="display-4">Character Creator</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>This is from viewbag: @ViewBag.SessionName</h2>
    <h2>This is from viewmodel: @Model</h2> *@
    <div class="d-flex justify-content-center" style="width: 200px">
        <div class="card" style="width: 18-rem">
            <h5 class="card-title">Card title</h5>
            <img src="~/images/luigi/luigi.png" alt="Luigi" style="width: 100px" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi assumenda iusto quo mollitia beatae error, laboriosam, sit ratione reiciendis, itaque doloribus blanditiis ipsum excepturi debitis dicta sed culpa voluptatibus eligendi!</p>
            </div>
        </div>
    </div>
</div>
