@{
    ViewData["Title"] = "Home Page";
}

@model Product

<div class="text-center">
    <h1>Products | <a href="/categories">Categories</a></h1>
    <div class="d-flex justify-content-around">
        <div>
            <h2>Add a Product</h2>
            <form action="/product/add" method="post">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Price (dollars)</label>
                    <input asp-for="Price" class="form-control">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div>
            <h2>List of Products</h2>
            @foreach(Product p in ViewBag.AllProducts)
            {
                <h4><a href="/product/@p.ProductId">@p.Name</a></h4>
            }
        </div>
    </div>
</div>
